@{
    Layout = null;
}
@using FoodAlliance.Models;
@model List<Users>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>美食同盟会后台管理系统</title>
    <link rel="stylesheet" href="~/Content/layui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">美食同盟会后台管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/HouTai/HouTaiHome">用户列表</a></li>
                <li class="layui-nav-item"><a href="/HouTai/HouTaiAudit">审核列表</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/Content/Imges/login_home_background.jpg" class="layui-nav-img">
                        胡瑶
                    </a>
                </li>
                <li class="layui-nav-item"><a href="">注销</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/HouTai/HouTaiHome">用户管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/HouTai/HouTaiAudit">审核管理</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px; margin-top:60px;">                  
                    <div class="layui-field-box">
                        <table class="table table-hover table-striped">
                            <tr>
                                <th>
                                    用户名
                                </th>
                                <th>
                                    密码
                                </th>
                                <th>
                                    电话
                                </th>
                                <th>
                                    用户头像
                                </th>
                                <th>操作</th>
                            </tr>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UsersName</td>
                                    <td>@item.UsersPassword</td>
                                    <td>@item.UsersPhone</td>
                                    <td>@item.UsersAvatar</td>
                                    <td>
                                        <a href="/HouTai/Delete/?userID=@item.UsersID" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>

                            }
                        </table>
                    </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 美食同盟会与你同在
        </div>
    </div>
</body>
</html>
