@{
    Layout = null;
}
@using FoodAlliance.Models
@model PagedList.IPagedList<Recipe>
@using PagedList.Mvc;
@{
    List<Typess> typesses = ViewBag.list2;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        var _hmt = _hmt || [];
    </script>
    <title>分类菜谱</title>
    <link href="~/Content/RecipeDaqo.css" rel="stylesheet" />
    <script src="~/Scripts/RecipeDaqo.js"></script>
    <script>
        var _czc = _czc || [];
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        .pagination li {
            display: inline-block;
        }

            .pagination li a {
                display: block;
                font-size: 20px;
                width: 60px;
                text-align: center;
                background-color: azure;
                margin-left: 10px;
            }
    </style>
</head>

<body style="">
    <div class="adinheader">
        <div class="adinheader_w">
            <script>
                (function () {
                    var s = "_" + Math.random().toString(36).slice(2);
                    document.write('<div id="' + s + '"></div>');
                    (window.slotbydup = window.slotbydup || []).push({
                        id: '206520',
                        container: s,
                        size: '990,40',
                        display: 'inlay-fix'
                    });
                })();
            </script>
        </div>
    </div>
    <div class="header">
        <div class="header_c">
            <a href="#" class="logo pngFix"><img src="~/Content/Imges/logo.png" /></a>
            <div class="main_search_top_w">
                <div class="suggestionsBox" id="suggestions" style="display:none;"><ul class="suggestionList" id="autoSuggestionsList"></ul></div>
                <form action="/HomePage/QueryMenu" target="_blank">
                    <input type="text" class="text" name="sreach_text" x-webkit-speech="" autocomplete="off" id="inputString" placeholder="输入菜谱、食材、作者" />
                    <input type="submit" class="submit" value="搜 索" />
                </form>
            </div>
            <div class="loginitem_h">
                <a href="#">欢迎您的到来 @Session["UserName"]</a>
            </div>
        </div>
        <div class="nav">
            <ul id="main_nav">
                <li class="current">
                    <a href="~/HomePage/Index" class="link pngFix"><strong>首页</strong></a>
                </li>
                <li class="hasmore">
                    <a href="~/RecipeDaqo/Index" class="link pngFix"><strong>菜谱大全</strong></a>
                    <div class="dw clearfix">
                        <div class="dww clearfix dww_cpdq">

                            <div class="dwitem dwitem_half clearfix">
                                <dl class="clearfix">
                                    <dt><a href="#">中华菜系</a></dt>
                                    @foreach (var item in typesses)
                                    {
                                        <dd>
                                            <a href="/RecipeDaqo/FenLei/?id=@item.TypessID" >
                                                @item.TypessName
                                            </a>
                                        </dd>
                                    }
                                </dl>
                            </div>
                            <br />
                            <div class="bgitem"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
            <div class="main_search_w">
                <div class="searchform_div">
                    <form action="/HomePage/QueryMenu" target="_blank">
                        <input type="text" class="text" name="sreach_text" x-webkit-speech="" autocomplete="off" id="inputString" placeholder="输入菜谱、食材、作者" />
                        <input type="submit" class="submit" value="搜 索" />
                    </form>
                </div>
                <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
            </div>
        </div>
        <div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top">
            <a href="#" title="返回家常菜谱大全的顶部" class="backtotop pngFix">回到顶部</a>
        </div>
        <div class="main_w clearfix">
            <div class="main">
                <div class="listnav clearfix" id="listnav">
                    <ul class="listnav_ul" id="listnav_ul">
                        <li disable="1">
                            <a class="link">我的美食属性</a>
                        </li>
                        <li>
                            <a href="#" class="link">中华菜系</a>
                        </li>
                    </ul>
                    <div class="other_c listnav_con clearfix">
                        <dl class="listnav_dl_style1 w990 clearfix">
                            <dt>中华菜系</dt>
                            @foreach (var item in typesses)
                            {
                                <dd>
                                    <a href="/RecipeDaqo/FenLei?id=@item.TypessID">
                                        @item.TypessName
                                    </a>
                                </dd>
                            }
                        </dl>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    int a = 0;
                    if (a == 0)
                    {
                        <div class="bbtitles">@item.Typess.TypessName</div>
                        break;
                    }

                }

                <div class="liststyle1_w clearfix">
                    <div class="listtyle1_w" id="listtyle1_w">
                        <div class="listtyle1_list clearfix" id="listtyle1_list">
                            @{
                                GourmetLeagueEntities db = new GourmetLeagueEntities();
                                List<Users> us = db.Users.ToList();
                            }
                            @foreach (var item in Model)
                            {

                                <div class="listtyle1">
                                    <a target="_blank" href="/Detail/Index/?id=@item.RecipeID" title="@item.RecipeName" class="big">
                                        <img class="img" alt="@item.RecipeName" src="~/Content/Imges/@item.RecipePicture" />
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1">
                                                    <strong>@item.RecipeName</strong>
                                                    <span>您的餐桌由我们来丰富</span>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">您的餐桌由我们来丰富</li>、

                                                        @foreach (var item1 in us)
                                                        {
                                                            if (item.UsersID == item1.UsersID)
                                                            {
                                                                <li class="li2">发布人：@item1.UsersName</li>
                                                            }

                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            }


                            <div class="listtyle1_page">
                                <div class="listtyle1_page_w">
                                    共 @Model.TotalItemCount 条，
                                    每页 @Model.PageSize 条，
                                    共 @Model.PageCount 页，
                                    当前第 @Model.PageNumber 页

                                </div>
                            </div>
                            <div aria-label="Page navigation example">
                                <ul class="pagination" style="display:inline-block;color:red;margin-left: 380px;margin-top: 50px;">
                                    <li class="page-item">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { LinkToFirstPageFormat = "首页", LinkToNextPageFormat = "下一页", LinkToPreviousPageFormat = "上一页", LinkToLastPageFormat = "末页", DisplayItemSliceAndTotal = false, MaximumPageNumbersToDisplay = 5 })</li>
                                </ul>
                            </div>

                            <script type="text/javascript" src="//ma1.meishij.net/jewnfkmaf.js"></script>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    _czc.push(['_trackEvent', 'pc', 'pc_list']);
                    _czc.push(['_trackEvent', 'pc', 'pc_list_class_13']);
                    var is_list_adding = 0;

                    function list_add_shicai() {
                        var q = $('#yl_q').val();
                        if (q != '' && q != '请输入您想查找的食材') {
                            if (is_list_adding == 0) {
                                is_list_adding = 1;
                                $.get('/ajax/list_add_yl.php?c=' + encodeURIComponent(q), null,
                                    function (data) {
                                        is_list_adding = 0;
                                        data = parseInt(data);
                                        if (data > 0) {
                                            location.href = '/list.php?sortby=update&words=%E5%AE%B6%E5%B8%B8%E8%8F%9C&lm=270&yl=' + data;
                                        } else {
                                            alert('未能识别的食材，请尝试其他关键字');
                                            $('#yl_q').val('');
                                        }
                                    });
                            }
                        } else {
                            alert('请输入您想查找的食材');
                        }
                    }
                    $(function () {
                        var js = document.createElement("script");
                        js.language = "javascript";
                        js.src = "http://click.meishij.net/pl/lclick.php?i=13&addclick=1&_" + (new Date()).getTime();
                        document.body.appendChild(js);
                        $("#yl_q").keypress(function (event) {
                            if (event.keyCode == 13) {
                                list_add_shicai()
                            }
                        });
                    });
                </script>
            </div>
            <div style="margin:0 auto;padding-top:20px;width:990px;">
                <div style="display:inline-block;vertical-align:top;">
                    <script type="text/javascript" src="//ma1.meishij.net/fasjbsigw.js"></script>
                </div>
                <div style="display:inline-block;vertical-align:top;">
                    <script type="text/javascript" src="//ma1.meishij.net/idvmevlje.js"></script>
                </div>
            </div>
        </div>
        <div class="main_footer pngFix">
            <div class="main_footer pngFix">
                <div class="footer_con2">
                    <dl class="friend_link clearfix">
                        <dt>友情链接</dt>
                        <dd><a target="_blank" href="#" title="美食">美食</a></dd>
                        <dd><a target="_blank" href="#" title="体质测试">体质测试</a></dd>
                        <dd><a target="_blank" href="http://sj.meishi.cc/app.php?to=guanjia" title="伊特">伊特</a></dd>
                        <dd><a target="_blank" href="http://www.9ku.com/ " title="9酷音乐网">9酷音乐网</a></dd>
                        <dd><a target="_blank" href="http://www.yue365.com" title="365音乐网">365音乐网</a></dd>
                        <dd><a target="_blank" href="http://www.mapbar.com/" title="图吧">图吧</a></dd>
                        <dd><a target="_blank" href="http://baa.bitauto.com/" title="汽车论坛">汽车论坛</a></dd>
                        <dd><a target="_blank" href="http://food.39.net" title="39健康饮食">39健康饮食</a></dd>
                        <dd><a target="_blank" href="http://www.qqtn.com/ " title="QQ下载 ">QQ下载</a></dd>
                        <dd><a target="_blank" href="http://www.meilele.com/" title="家具网">家具网</a></dd>
                        <dd><a target="_blank" href="http://chihe.sohu.com" title="搜狐美食">搜狐美食</a></dd>
                        <dd><a target="_blank" href="http://www.meishichina.com" title="美食天下">美食天下</a></dd>
                        <dd><a target="_blank" href="http://www.zhms.cn" title="中华美食网">中华美食网</a></dd>
                        <dd><a target="_blank" href="http://hefei.8684.cn/" title="合肥公交网">合肥公交网</a></dd>
                        <dd><a target="_blank" href="http://www.canyin88.com/" title="红餐微杂志">红餐微杂志</a></dd>
                        <dd><a target="_blank" href="http://bj.fang.com" title="北京搜房网">北京搜房网</a></dd>
                        <dd><a target="_blank" href="https://www.meishij.net/siteinfo/links.php" title="更多友情链接">更多友情链接</a></dd>
                    </dl>
                </div>
                <div class="footer_con3">
                    <div class="jianjv"></div>
                    <ul class="clearfix">
                        <li><a target="_blank" href="#" title="公司简介">公司简介</a></li>
                        <li><a target="_blank" href="#" title="关于我们">关于我们</a></li>
                        <li><a target="_blank" href="#" title="产品下载">产品下载</a></li>
                        <li><a target="_blank" href="#" title="加入我们">加入我们</a></li>
                        <li><a target="_blank" href="#" title="联系我们">联系我们</a></li>
                        <li><a target="_blank" href="#" title="商务合作">商务合作</a></li>
                        <li><a target="_blank" href="#" title="用户协议">用户协议</a></li>
                        <li><a target="_blank" href="#" title="用户协议">隐私政策</a></li>
                        <li><a target="_blank" href="#" title="网站地图">网站地图</a></li>
                        <li><a target="_blank" href="#" title="友情链接">友情链接</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;
   ">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>